<h2>User info</h2>
<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction_id %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to "edit", edit_user_path(current_user), class: 'btn btn-outline-secondary btn-block' %>
</div>